/lib
bin
.manager
target
.settings
*~
.project
.classpath
.idea/
*.iml
release.properties
**/.DS_Store
**/pom.xml.releaseBackup

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.gradle
*.ipr
*.iws
build-*
!build-logic
# Keep the KSP processor resources of the build-helpers module in git
!build-helpers
!build-helpers/**
*.asc
build
out
.java-version
